@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400&family=Katibeh&family=Prompt:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100%;
    background-image: url("./Picture/bg_template.png");
    /* ชื่อสลับกันนะ */
    background-color: #F5CFC0;
    display: flex;
    justify-content: center;
    align-items: center;
}
form.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
h2 {
    margin: 20px;
    color: #1abc9c;
    font-weight: 300;
}
input,button {
    border: none ;
    height: 50px;
    width: 250px;
    margin: 10px 0;
    padding: 0 10px;
    font-size: 1rem;
    outline: none;
    text-align: center;
    border-radius: 5px;
    transition: .5s;
    cursor: pointer;
}
.textbox {
color: white;
background: rgba(255,255,255,0.5);
border: 1px solid rgba(255,255,255,0.5);
    
}
.textbox::placeholder {
    color: #8d310d;
}
.textbox:hover,
.textbox:focus{
    background: white;
    width: 350px;;
    color: #1abc9c;
}
.btn-submit{
    background:#8d310d;
    color: white;
    
    
    
}
.rightbutton1{
  background:rgb(255, 255, 255);
  color: #8d310d;
  
  
  
}
.rightbutton2{
  background:rgb(255, 255, 255);
  color: #8d310d;
  
  
  
}
.rightbutton3{
  background:rgb(255, 255, 255);
  color: #8d310d;

  
  
  
}
.rightbutton4{
    background:#8d310d;
    color: rgb(255, 255, 255);

}

.btn-submit:hover {
    color: #fff;
    background: #f5aa8d;
    box-shadow: 0 0 510 rgba(0,0,0,0.1);
}
.table_component {
  overflow: auto;
  width: 100%;
}

.table_component table {
  border: 1px solid #dededf;
  height: 100%;
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 1px;
  text-align: center;
}

.table_component caption {
  caption-side: top;
  text-align: right;
}

.table_component th {
  border: 1px solid #dededf;
  background-color: #fdd6c6;
  color: #000000;
  padding: 5px;
}

.table_component td {
  border: 1px solid #dededf;
  background-color: #ffffff;
  color: #000000;
  padding: 5px;
}
div.table_component{
  width: 100%;
  margin: auto;
  background-color: white;
  padding: 20px;
  /* display: none; */
}
h1{
  font-size: medium;
  
}
div.inputwithicon{
  background-color: white;
  padding: 10px;
  border: none ;
  font-size: 1rem;
  outline: none;
  text-align: center;
  border-radius: 5px;
  transition: 2s;
  cursor: pointer;
}
div.inputwithicon:hover,
div.inputwithicon:focus{
    background: white;
    width: 350px;;
    color: #1abc9c;
}
div.rightbutton{
display: grid;
position: absolute;
right: 30px;
bottom: 30px;
}
